.footer {
    display: flex;
    flex-direction: row;
    padding: 16px 40px;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 8px 10px;
    justify-content: center;
}

.footerT {
    font-family: 'Rawline';
    font-style: normal;
    font-weight: 400;
    font-size: 11.67px;
    line-height: 16px;
    color: #333333;
    align-items: center;
    text-align: center;
}

.separator {
    height: 2px;
    background-color: #dfdfdf;
}